[submodule "server"]
	path = server
	url = https://github.com/Luminighty/dungeon-server
[submodule "client"]
	path = client
	url = https://github.com/Luminighty/dungeon-client
[submodule "math"]
	path = math
	url = https://github.com/Luminighty/ts-math
